input[type="checkbox"] {
    display: none !important;
  }
  input[type="checkbox"] + label::before {
    content: '\a0';
    display: inline-block;
    margin-right: 0.2em;
    border: 1px solid;
    border-radius: 0.2em;
    width: 0.8em;
    height: 0.8em;
    vertical-align: 0.1em;
    text-indent: 0.1em;
    line-height: 0.7;
    cursor: not-allowed;
  }
  input[type="checkbox"]:checked + label::before {
    content: '\2714';
  }
  